.coinBox {
    background-color: #010b18;
    min-width: 23vw; /* Adjust width to show 4 per row */
    max-width: 23vw;
    min-height: 10vw;
    max-height: 10vw;
    padding: 1vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: row; /* Display items horizontally */
    align-items: center; /* Align items vertically in the center */
    border-radius: 20px; /* Add rounded corners to the box */
    border-style: solid;
    border-color: white;
    border-width: 0.5px;
    overflow: hidden; /* Ensure child elements respect the rounded corners */
    margin-bottom: 1vh;
    position: relative; /* Make the coinBox the containing block for absolutely positioned elements */
}
.coinImg {
    min-width: 45%;
    max-width: 45%;
    min-height: 98%;
    max-height: 98%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 2vh; /* Add margin to the right of the image for a gap */
    border-radius: 10px; /* Add rounded corners to the image */
}

.pumpFunImg {
    position: absolute;
    top: 5%;
    right: 2%;
    width: 10%; /* Adjust size as needed */
    height: 21%; /* Adjust size as needed */
    border-radius: 50%; /* Make it circular */
}

.coinDetails {
    display: flex;
    flex-direction: column; /* Display items vertically */
    justify-content: space-between; /* Align items with space between them */
    min-height: 90%; /* Take full height of the container */
    min-width: 50%; /* Take 50% of the container width */
    flex-grow: 1; /* Allow the details to take up remaining space */
    align-items: flex-start; /* Align items to the start */
    padding-left: 1%; /* Add padding to the left side */
    padding-right: 1%; /* Ensure consistent spacing on the right side */
}

.coinDetails p {
    margin: 3% 0; /* Add margin to separate the items */
    color: #FFFFFF; /* Set text color to white */
    font-size: 100%; /* Set font size */
    
}

.coinDetails .coinNameContainer {
    margin: 3% 0; /* Add margin to separate the items */
    display: flex;
    align-items: center; /* Align items vertically in the center */
    color: #FFFFFF; /* Set text color to white */
    width: 80%; /* Set width to 80% of the container */
    font-size: 100%; /* Set font size */
}

.coinDetails .coinNameLabel {
    margin-right: 5px; /* Space between "Name:" label and actual name */
    color: #FFFFFF; /* Set text color to white */
}

.coinDetails .coinName {
    max-width: 70%; /* Cap the width of the Name attribute */
    overflow-x: auto; /* Allow horizontal scrolling */
    white-space: nowrap; /* Prevent text from wrapping */

    /* Hide scrollbar for Webkit browsers (Chrome, Safari) */
    -webkit-overflow-scrolling: touch; /* Ensure smooth scrolling on mobile */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

.buttonContainer {
    min-width: 100%; /* Take full width of the container */
    display: flex;
    justify-content: center; /* Center the buttons */
    align-items: center; /* Center the buttons vertically */
    margin-top: 3%; /* Add margin to separate from the details */
    flex-wrap: wrap; /* Allow buttons to wrap if necessary */
    gap: 10px; /* Set gap between buttons */
}

.clipboardButton,
.socialButton {
    min-width: 15%; /* Set width of the buttons */
    max-width: 15%; /* Set width of the buttons */
    min-height: 13%;
    max-height: 13%;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-left: -2%;
}

.clipboardButton.copied {
    background-color: green; /* Add green background when copied */
}

.clipboardIcon,
.buttonIcon {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

@keyframes flashBlue {
    0%, 100% { background-color: #010b18; }
    25%, 75% { background-color: blue; }
}

.flashBlue {
    animation: flashBlue 1s ease-in-out 3;
}

@keyframes flashGreen {
    0%, 100% { background-color: #010b18; }
    25%, 75% { background-color: green; }
}

.flashGreen {
    animation: flashGreen 1s ease-in-out 3;
}