.body-container {
    padding: 40px 10px 10px 40px;
    height: 90vh; /* Cap the height to 86% of the viewport height */
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    width: 97vw; /* General container width adjustment */
}

.upcoming-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 94vw; /* Make the container take the full width of .body-container */
    overflow-x: auto;
    margin-left: -6vh;
   

    /* Hide scrollbar for Webkit browsers (Chrome, Safari) */
    &::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for other browsers */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.upcoming-body {
    margin-top: -2vh;
    display: flex;
    overflow-x: auto;
    height: 22vh; /* Adjust this value based on the height of your coin boxes */
    width: 100%;
    gap: 0.5vw;
}

.upcoming-row {
    display: flex;
    flex-direction: row;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    width: 100%; /* Ensure the same width as the container */
    height: 47vh; /* Adjust this value based on the height of your coin boxes */
}

.row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 1vh;
}

.Dtitle {
    color: white;
    font-size: 2.5vh;
    margin-bottom: 1vh;
    margin-left: -2vw; /* Add this line to shift the title 2vw to the left */
}

.body-container .title {
    color: white;
    font-size: 2.5vh;
    margin-bottom: 1vh;
    margin-right: 3.7vw; /* Adding padding-left instead */
}

