.App {
  text-align: center;
  height: 100vh; /* Full height of the viewport */
  display: flex;
  justify-content: center;
  align-items: center; /* Center the body-container vertically */
  overflow: hidden; /* Prevent outer scrolling */
  background-color: black;
}
